<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <child-component v-on:show-log="printText"></child-component>
        <!-- 하위 컴포넌트에서 발생한 이벤트명을 v-on 속성에 지정하고, 속성의 값에 이벤트가 발생했을 때 호출될 상위 컴포넌트의 메서드를 지정 -->
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
<script>
    Vue.component('child-component', {
        template: '<button v-on:click="showLog">show</button>',     // 버튼 요소 추가
        methods: {      // 메서드 추가
            showLog: function (){
                this.$emit('show-log');     // 이벤트 발생 로직
            }
        }
    });

    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue! passed from Parent Component'
        },
        methods: {
            printText: function (){
                console.log('received an event');
            }
        }
    });
</script>
</body>
</html>